<template name="about">
	<div class="jumbotron">
	  <h1>What is Croud?</h1>
	  <p>Croud is a site dedicated to allowing people, movements, and companies to hire crowds!</p>
	  <p>We hope to give people the opportunity to earn a living by participating in demonstrations or marketing campaigns that require crouds of people. <br />
	  We also hope to give fledgling political movements and unknown companies a fighting chance at becoming known and having a leg to stand on.</p>
	  <p>Sign up and get started!</p>
	  <!--<p><a class="btn btn-primary btn-lg" href="#login-dropdown-list" role="button">Learn more</a></p>-->
	</div>
</template>