<template name="postSubmit">
	<form class="main form">

			<div class="form-group">
			<label class="control-label" for="title">Event Name</label>
				<div class="controls">
					<input name="title" id="title" type="text" value="" placeholder="Event name" class="form-control"/>
				</div>
			</div>
			
			<div class="form-group">

	<!--begin google test-->

<script>
window.onload = function() {
  var autocomplete = new google.maps.places.Autocomplete(
    (document.getElementById('autocomplete')),{types: ['geocode'] }
  );
};
</script>


 <!--<div id="locationField" onLoad="initialize()">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input></div>-->

  <!--<input id="searchTextField" type="text" size="50" placeholder="Anything you want!">-->

	<!--end google test -->

			<label class="control-label" for="url">Event Location</label>
				<div class="controls">
					<!--<input name="location" id="url" type="text" value="" placeholder="The location of the vent" class="form-control"/>-->
				<div id="locationField">
		  		<input id="autocomplete" name="location" class="form-control" placeholder="Event Location" type="text">
			</div>
				</div>
			</div>
		<input type="submit" value="Submit" class="btn btn-primary"/>
	</form>
</template>